body {
  text-align: center;
}

.header h1 {
  font-size: 50px;
  color: black;
  display: inline-block;
  margin-right: 17px;
  font-family: "Source Code Pro", monospace;
}

.App {
  max-width: 960px;
  margin: 0 auto;
}

.App-header {
  margin: 40px 0;
}

.App-footer {
  text-align: center;
  font-family: "Oooh Baby", cursive;
  margin: 30px 0;
}
.icon {
  font-size: 40px;
  color: black;
}
