.Phonetic {
  height: 60px;
}

.Phonetic a {
  border: 1px solid #ddd;
  color: black;
  text-decoration: none;
  margin-right: 10px;
  padding: 10px 20px;
  font-size: 12px;
  font-weight: bold;
  border-radius: 20px;
  transition: all 150ms ease-in-out;
  font-family: "Cinzel", serif;
}

.Phonetic a:hover {
  background: #73a097;
  color: black;
}

.Phonetic .text {
  opacity: 0.5;
  font-weight: bold;
}
